@font-face {
  font-family: euclid;
  src: url("./styles/fonts/Euclid.ttf");
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: euclid;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
}
